

//
// Here is Bootstrap
// ==========================================================================


// Core variables and mixins
// @import "../vendors/bootstrap-less/less/variables.less";
@import "../vendors/bootstrap-less/less/mixins.less";

// Reset
@import "../vendors/bootstrap-less/less/normalize.less";
// @import "../vendors/bootstrap-less/less/print.less";

// Core CSS
@import "../vendors/bootstrap-less/less/scaffolding.less";
@import "../vendors/bootstrap-less/less/type.less";
// @import "../vendors/bootstrap-less/less/code.less";
@import "../vendors/bootstrap-less/less/grid.less";
// @import "../vendors/bootstrap-less/less/tables.less";
// @import "../vendors/bootstrap-less/less/forms.less";
@import "../vendors/bootstrap-less/less/buttons.less";

// Components
// @import "../vendors/bootstrap-less/less/component-animations.less";
// @import "../vendors/bootstrap-less/less/glyphicons.less";
// @import "../vendors/bootstrap-less/less/dropdowns.less";
@import "../vendors/bootstrap-less/less/button-groups.less";
// @import "../vendors/bootstrap-less/less/input-groups.less";
@import "../vendors/bootstrap-less/less/navs.less";
// @import "../vendors/bootstrap-less/less/navbar.less";
// @import "../vendors/bootstrap-less/less/breadcrumbs.less";
// @import "../vendors/bootstrap-less/less/pagination.less";
// @import "../vendors/bootstrap-less/less/pager.less";
// @import "../vendors/bootstrap-less/less/labels.less";
// @import "../vendors/bootstrap-less/less/badges.less";
// @import "../vendors/bootstrap-less/less/jumbotron.less";
// @import "../vendors/bootstrap-less/less/thumbnails.less";
// @import "../vendors/bootstrap-less/less/alerts.less";
// @import "../vendors/bootstrap-less/less/progress-bars.less";
// @import "../vendors/bootstrap-less/less/media.less";
// @import "../vendors/bootstrap-less/less/list-group.less";
// @import "../vendors/bootstrap-less/less/panels.less";
// @import "../vendors/bootstrap-less/less/wells.less";
// @import "../vendors/bootstrap-less/less/close.less";

// Components w/ JavaScript
// @import "../vendors/bootstrap-less/less/modals.less";
// @import "../vendors/bootstrap-less/less/tooltip.less";
// @import "../vendors/bootstrap-less/less/popovers.less";
// @import "../vendors/bootstrap-less/less/carousel.less";

// Utility classes
@import "../vendors/bootstrap-less/less/utilities.less";
@import "../vendors/bootstrap-less/less/responsive-utilities.less";




//
// Here is my stuff
// ==========================================================================



// Bootstrap variables overrides
// =====================================
@import "_variables.less";

@transluscent: rgba(0, 40, 80, 0.8);


//
// Fonts
// ==========================================================================

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700,900,400italic,700italic);






//
// Tags
// ==========================================================================

a:hover { text-decoration: none; }
html {
    background: #151218 url(/assets/images/bg.jpg) no-repeat fixed center center;
    background-size: cover;
}
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: transparent;
    &.debug {
        &:before {
            display: block;
            padding: 10px;
            position: fixed; top: 0; left: 0;
            background-color: #000;
            color: white;
        }
        @media (min-width: @screen-phone) {
            &:before {content: "phone"}
        }
        @media (min-width: @screen-tablet) {
            &:before {content: "tablet"}
        }
        @media (min-width: @screen-desktop) {
            &:before {content: "desktop"}
        }
        @media (min-width: @screen-lg) {
            &:before {content: "large"}
        }

    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    border: 0
}


//
// Common elements and overrides
// ==========================================================================
.video-container {
    // http://embedresponsively.com/
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


// Nav tabs bootstrap override
// =====================================
.nav-tabs {
    text-transform: uppercase;
    > li > a  {
        border-radius: 0;
    }
    .active {
        font-weight: bold;
    }
}


// Twitter widget overrides
// =====================================
.live-tweets {
    iframe {width: 100%}
}

// Soundcloud widget override
// =====================================
#live-media-audio {
    iframe {
        background-color: transparent;
    }
}


//
// Layout
// ==========================================================================

// Main structure
#main {
    &-header,
    &-content,
    &-footer {
        .make-row;
    }

    // Header
    &-header {
        // height: 30em;
    }
}

// Main Navigation


// Live contents (tweets, video and sound)
.live {
    margin-bottom: 3em;
    .clearfix;

    &-media {
        .make-sm-column(8);
    }
    &-tweets {
        .make-sm-column(4);
    }
}

// RSS and Tmblr content
.cold {
    .make-xs-column(12);
}





//
// Main elements
// ==========================================================================

#page {

}
#main-content,
#main-footer {
    background-color: @transluscent;
    padding-top: 1.5em;
    margin-bottom: 1em;
}


#main-header {

}
#main-content {

}
#main-footer {}






// Header
// =====================================


.logo-euro {
    width: 300px;
}
#main-header {

}

#main-header-banner {
    margin-bottom: 3em;
    text-align: center;
    h1 {
        font-size: 4em;
    }
    small {
        display: block;
    }
}

#main-nav {
    font-size: 290%;
    line-height: .8;
    text-transform: uppercase;

    strong {
        font-weight: normal;
    }
    ul {
        list-style: none;
        margin: 0; padding: 0;
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    li {
        display: table-cell;
        // width: 33.333333%;
    }
    a {
        display: block;
        padding: .5em 0 .5em .5em;
        transition: all .3s;
        background: darken(@transluscent, 10%);

        &:hover, &:focus {
            background-color: #000;
        }

        &.current {
            color: white;
            position: relative;
            background: @transluscent;
        }

    }
    .month {
        font-size: 60%;
        font-weight: normal;
        font-style: normal;
    }
    .acc {
        display: block;
        font-size: 40%;
        font-weight: 400;
        margin-top: .5em;
        text-transform: lowercase;
        .hidden-xs;
    }
}


//
// Live elements
// ==========================================================================

.live {
    .tab-content {
        margin-bottom: 2em;
    }


    &-tweets {
        header {
            padding: 1em 0;
        }
        iframe {
        }
        @media(max-width: @screen-xs) {
            margin-top: 2em;
            outline: 1px blue solid;
        }
        .group-link, h1 {
            display: inline-block;
        }
        .group-link {
            float: right;
        }

        h1, .account {

        }
        h1 {
            font-size: 1.5em;
            margin: 0;
            padding: 0;
        }
        .account {
            // float: right;
        }
    }

}
