footer#main-footer
    | Des Partenaires

script(src='//cdn.jsdelivr.net/g/jquery,bootstrap')
script window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')
script(src='assets/js/main.min.js')

//- Google Analytics
//-
  script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50668756-1', 'euradionantes.eu');
    ga('send', 'pageview');

