<!--[if lt IE 8]>
p.browsehappy
  | Vous utilisez un navigateur <strong>obsolète</strong>.
  | Pourquoi pas le <a href="http://browsehappy.com/">mettre à jour</a>
  | et ainsi mieux profiter du web ?
<![endif]-->

header#main-header(role="header")
  #main-header-banner
    h1 Élections européennes 2014 <small>avec Euradio Nantes</small>
    p Euradio Nantes, la radio européenne vous propose de suivre les élections européennes 2014 sur trois dates. Du direct, des interviews et vos réactions.
    img(src="assets/images/logoEE2014.svg", alt="Élections européennes 22-25 mai 2014 / Agir, Réagir, Accomplir").logo-euro

  nav#main-nav(role="nav")
    ul
        li: a(href="#").current 9 <b class="month">mai</b>
          span.acc Les états-généraux
        li: a(href="#") 15 <b class="month">mai</b>
          span.acc Intitulé de la date
        li: a(href="#") 25 <b class="month">mai</b>
          span.acc Un autre intitulé de date
