<!--[if lt IE 8]>
p.browsehappy
  | Vous utilisez un navigateur <strong>obsolète</strong>.
  | Pourquoi pas le <a href="http://browsehappy.com/">mettre à jour</a>
  | et ainsi mieux profiter du web ?
<![endif]-->

header#main-header(role="banner")
  #main-header-banner
      .logos
          a(href="http://www.elections2014.eu/", target="_blank", title="Nouvelle Fenêtre"): img(src="assets/images/logoEE2014.png", alt="Logo Élections européennes 22-25 mai 2014 / Agir, Réagir, Accomplir").logo-euro
          a(href="http://www.euradionantes.eu/"): img(src="assets/images/logo_euradio.png", alt="Logo Euradio Nantes - 101.3 fm - www.euradionantes.eu").logo-eura
      .pres
        h1 Élections européennes 2014
            small 28 pays, 751 eurodéputés, un scrutin le 25 mai et une radio : Euradionantes
        p.lead <a href='http://www.euradionantes.eu/'>Euradionantes</a> vous fait vivre au rythme des élections européennes pendant un mois : vidéos, infographies, reportages, interviews, revue de presse européenne… toute l’info pour mieux comprendre les enjeux du scrutin.



  nav#main-nav(role="navigation")
    ul
        li: a(href="#date-first", data-toggle="tab")
          span.date 9 <b class="month">mai</b>
          span.acc Journée de l’Europe / Etats Généraux de l’Europe
        li: a(href="#date-second", data-toggle="tab")
          span.date 15 <b class="month">mai</b>
          span.acc Grand débat entre les candidats à la présidence de la Commission européenne
        li.active: a(href="#date-third", data-toggle="tab")
          span.date 25 <b class="month">mai</b>
          span.acc Soirée électorale européenne
