extends ./layouts/_default

block content
    main#main-content.tab-content(role="main")
        .tab-pane#date-first
            include ./layouts/modules/date-first

        .tab-pane.active#date-second
            .live
                | loremmqlsd
        .tab-pane#date-third
            | Lorem B
