extends ./layouts/_default

block content
    main#main(role="main")
        h1 Hello world
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, officia, tempore doloribus fugiat fugit magnam delectus sunt vel provident blanditiis! Tempore, rem assumenda corporis quisquam distinctio dolore quasi provident praesentium.
        h2 Hey how are you ?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, officia, tempore doloribus fugiat fugit magnam delectus sunt vel provident blanditiis! Tempore, rem assumenda corporis quisquam distinctio dolore quasi provident praesentium.
        ul
            li One
            li Two
            li Three
        ol
            li One
            li Two
            li Three
