extends ./layouts/_default

block content
    main#main(role="main")
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, officia, tempore doloribus fugiat fugit magnam delectus sunt vel provident blanditiis! Tempore, rem assumenda corporis quisquam distinctio dolore quasi provident praesentium.
    section.posts
